<h1> <%= @topic.title %>
  <%= link_to "Edit", edit_topic_path(@topic), class: 'btn btn-success' %>
  <%= link_to "Delete Topic", @topic, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this topic?' } %>
</h1>

 <%= link_to "New Bookmark", new_topic_bookmark_path(@topic), class: 'btn btn-success' %>

  <div class="row">
    <div class="col-md-8">
      <% @topic.bookmarks.each do |bookmark| %>
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
             <%= link_to bookmark.url, [@topic, bookmark] %>
             <%= link_to "Delete Bookmark", [@topic, bookmark], method: :delete, class: 'glyphicon glyphicon-remove-circle', data: { confirm: "Are you sure you want to delete this bookmark?" } %> <br>
             <%= link_to "Edit Bookmark", edit_topic_bookmark_path(@topic, bookmark), class: 'glyphicon glyphicon-pencil' %>
          </h4>
        </div>
      </div>
      <% end %>
    </div>
  </div>
